.application-name {
  color: #0559CC;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: normal;
}

.application-category {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
}

.required {
  background: url("../themes/images/demo/required_field.gif") no-repeat;
  background-position: right;
}

.grid-background {
  background-color: transparent !important;
}
